# .npmrc (repo root)
# Tell pnpm to hoist shared types to the repo root
# Pros: One copy of every type/artifact; all workspaces “see” them automatically.
# Cons: Slightly larger root node_modules; loses the strictness of isolated linking.
# The local packages aren't meant to be used outside of the monorepo, so this is not a problem.
node-linker=hoisted
public-hoist-pattern=*